/* BASE */

*{
    margin:0;
    padding: 0;
}

body{
    background: transparent;
    font-family: 'proxima_novaregular', sans-serif;
}

ul{
    list-style: none;
}

a {
    color:#000;
    display: inline-block;
    position: relative;
}


li ul{

    -webkit-padding-start: 20px;
}

.wrap{
    max-width:1170px;
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    margin-right: auto;
    margin-left: calc((100% - 320px) / 2 - 320px);
    margin-bottom:100px;
     padding-bottom: 60px !important;
}

.row {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.landing-love__title{
    font-family: proxima_novabold;
    font-size: 32.9px;
    font-weight: bold;
    line-height: 1.09;
    letter-spacing: 1.6px;
    text-align: center;
    color: #000000;
    text-align: left;
    margin-bottom: 64px;
    position: relative;
    width: 100%;
}

.landing-love__text{
    font-family: proxima_novaregular;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.4px;
    text-align: justify;
    color: #000000;
    margin-top: 32px;
    position: relative;
    width: 100%;
}

.landing-love__text i{
    font-family: proxima_novabold;
    font-style: normal;
}

.landing-love__video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    width: 100%;
}
.landing-love__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.landing-love__selection-container{
    margin-bottom: 50px;
}



/* container for selection items*/

.landing-love__container #catalog-items,
.landing-love__container #catalog-items_1,
.landing-love__container #catalog-items_2,
.landing-love__container #catalog-items_3,
.landing-love__container #catalog-items_4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

/*  selection item */

.landing-love__container .item.fav_item{
    text-align: center;
    text-transform: uppercase;
    position: relative;
    width: 24%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 40px;
}

.landing-love__container .item.fav_item a{
    text-decoration: none;
    position: relative;
}

.landing-love__container .item.fav_item img{
    width: 100%;
    height: auto;
}

/* text of selection's item bold */

.landing-love__container .designer-info{
    font-family: CenturyGothicBold;
    font-family: "proxima_novabold", Arial, Helvetica, sans-serif;
    font-size: 16.4px;
    font-weight: bold;
    letter-spacing: 4.1px;
    color: #000000;
}

/* text of selection's item normal (name and price) */
.landing-love__container  .item-info,
.landing-love__container  .item-price{
    font-family: "proxima_novaregular";
    font-family: "proxima_nova", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16.4px;
    letter-spacing: 4.1px;
    color: #000000;
}

.landing-love__music{
    margin-top: 25px;
}

strike {
    display: block;
    text-decoration: line-through;
    margin-top: 5px;
}


/* Buttons styles */

.landing-love__buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.landing__buttons-heart {
    margin: 0 20px;
}

.button__selection {
    width: 135px;
    height: 51px;
    background-color: #ffffff;
    border: solid 1px #000000;
    font-family: proxima_novaregular;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    outline: none   ;
}


.button__selection:hover,
.button__selection.active,
.show-more-button-link-element:hover {
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

.show-more-button-link {
    display: flex;
    justify-content: center;

}

.show-more-button-link-element {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 51px;
    background-color: #fff;
    border: solid 1px #000000;
    font-family: proxima_novaregular;
    font-size: 11.9px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}


.hidden {
    display: none;
}

.visible {
    display: block;
}

.landing-love__selection-title{
        margin-top: 72px;
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: "proxima_novabold", Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 3.6px;
      text-align: center;
      color: #000000;
}

.landing-love__selection-title{
    display: flex;
}

.landing-love__selection-title span{
    display: block;
    margin: 0 auto;
    min-width: 200px;
    width: auto;
}

.landing-love__selection-title .line:first-child{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.landing-love__selection-title .line:last-child{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.landing-love__selection-title .content-line{
    width: 90%;
    border-top: 1px solid;
    position: relative;
    top: 9px;

}


/* RESPONSIVE */

@media (max-width: 1560px) and (min-width: 1024px){
    .landing-love__container {
        margin-left: 330px;
        margin-right: 30px;
    }

}


@media screen and (max-width: 1024px){

    .landing-love__container #catalog-items,
    .landing-love__container #catalog-items_1,
    .landing-love__container #catalog-items_2,
    .landing-love__container #catalog-items_3,
    .landing-love__container #catalog-items_4 {
        max-width: 90%;
        margin: 0 auto;
        justify-content: space-around;
    }

    .landing-love__text {
        margin-bottom: 0;
        width: 90%;
        margin: 0 auto;
        margin-top: 25px;
    }

    .wrap{
        margin-right: 0;
        margin-left: 0;
    }

    .landing-love__container  .item-info,
    .landing-love__container  .item-price,
    .landing-love__container .designer-info{
        margin: 5px 0;
    }


}


@media screen and (max-width: 768px){

    .desktop-only {
        display: none;
    }

    .landing-love__buttons {
        flex-direction: column;
    }

    .row:first-child {
        margin-bottom: 25px;
    }


    .landing-love__title{
        margin-bottom: 15px;
        margin-top: 15px;
        margin-left: 12px;
    }

    .landing-love__text{
        margin-bottom: 0;
    }

    .landing-love__container #catalog-items,
    .landing-love__container #catalog-items_1,
    .landing-love__container #catalog-items_2,
    .landing-love__container #catalog-items_3,
    .landing-love__container #catalog-items_4 {
        justify-content: space-around;
        max-width: 100%;
        margin: 0 auto;
    }

    .landing-love__container .item.fav_item{
        align-items: inherit;
    }


}


@media screen and (max-width: 425px){

    .landing-love__title{
        font-family: proxima_novabold;
        font-size: 18.3px;
        font-weight: bold;
        line-height: 1.0;
        letter-spacing: 0.9px;
        text-align: left;
        color: #000000;
        width: auto;
    }

    .landing-love__text {
        margin-bottom: 0;
        width: 90%;
        margin: 0 auto;
        margin-top: 25px;
    }

    .landing-love__container .item.fav_item{
        width: 49%;
    }

    .landing-love__text {
        font-family: proxima_novaregular;
        font-size: 13px;
        line-height: 1.38;
        letter-spacing: 0.3px;
        text-align: justify;
        color: #000000;
        margin-bottom: 25px;
    }

    .landing-love__text i{
        font-family: proxima_novabold;
    }

    .landing-love__container .designer-info,
    .landing-love__container  .item-info,
    .landing-love__container  .item-price{
        font-size: 11px;
    }

    .landing-love__container #catalog-items,
    .landing-love__container #catalog-items_1,
    .landing-love__container #catalog-items_2,
    .landing-love__container #catalog-items_3,
    .landing-love__container #catalog-items_4 {
        max-width: 90%;
    }

        .landing-love__selection-title .content-line{
        display: none;
    }

}

/* /  RESPONSIVE */

